/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Fonts
 *
 **/

* {
    font: "JetBrains Mono Nerd Font {{ if eq .chezmoi.hostname .laptop.hostname }}{{ .laptop.rofi_font_size }}{{ else }}{{ .desktop.rofi_font_size }}{{ end }}";
}
